[submodule "frontend"]
	path = frontend
	url = https://github.com/nahel-argama/cultiva-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/nahel-argama/cultiva-backend.git
[submodule "product-source"]
	path = product-source
	url = https://github.com/nahel-argama/product-source.git
